---
import Base from "../layouts/base.astro";
import loboImg from "../img/lobo.png";
import ButtonReact from "../components/boton-react";
---

<Base pageTitle="¿Quienes somos?" pageDescription="Somos una empresa de desarrolladores profesionales.">
	<h1>Página de acerca de</h1>
	<img src={loboImg.src} alt="lobo.png" />
	<ButtonReact client:visible />
</Base>