---
import Base from "../layouts/base.astro";
const empresas  = ['Google', 'Facebook', 'Amazon', 'X.com'];
const auth_active = true;
---

<Base pageTitle="Página de Inicio" pageDescription="Página principal">
	<h1>Hola mundo</h1>
	<ul>
		{ empresas.map( (empresa) => <li>{empresa}</li>) }
	</ul>
	
	<br/>
	
	<b>{  auth_active && 'Usuario con acceso al sistema.' }</b>
	<b>{ !auth_active && 'Usuario sin acceso.' }</b>
</Base>
