---
import Base from "../layouts/base.astro";
const title = "Página de servicio";
---

<Base pageTitle="¿Que ofrecemos?" pageDescription="Nostros ofrecemos software, sistemas de alta calidad y eficientes con las últimas técnologias en el mundo.">
	<h1 class="title">{title}</h1>
	
	<script>
		console.log('Este es mi proyecto de astro.');
	</script>
	
	<style>
		.title 
		{
			color: #ccc;
			background-color: #000;
			border-radius: 5px;
			padding: 10px;
		}
	</style>
</Base>